{% extends 'base.html' %}

{% load static %}

{% block content %}
    <style>
        .post{
            display: flex;
            align-items: center;
            list-style: none;
            height: 180px;
            justify-content: left;
            gap:30px;
            border: 1px solid #333;
            border-radius: 12px;
            padding:20px;
            margin:20px 0;
            position: relative;
        }
        .post a{
            display: flex;
            align-items: center;
            justify-content: left;
            gap:30px;
            height: 100%;
            width:100%;
        }
        .post img{
            height: 100%;
            border-radius: 8px;
        }

        .posts-list .post a{
            color:#333;
            text-decoration: none;
        }
        .posts-list.dark .post a{
            color:#fff;
        }
        .post .details{
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            bottom:0;
            right:0;
            padding:5px 10px;
            color:#333;
        }
        .posts-list.dark .post .details{
            color:#fff;
        }
        @media (max-width: 768px){
            .header{
                z-index: 9999;
            }
            .post a{
                flex-direction: column;
                height: unset;
            }
            .post{
                height: unset;
            }
            .post a img{
                width:100%;
                height: auto;
            }
            .post a .details{
                position: relative;
            }
            .post img{
                z-index: -1;
            }
            .posts-list{
                z-index: -1;
            }
        }
    </style>
    <ul class="posts-list dark">
        {% for post in posts %}
            <li class="post">
                <a href="{% url 'post-detail' post.id %}">
                    <img src="{{ post.image.url }}" alt="{{ post.title }}">
                    {{ post.title }}
                    <div class="details">
                        <p>{{post.visitors}}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                              </svg>
                        </p>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const darkModeIcon = document.querySelector(".bi-moon");
            const lightModeIcon = document.querySelector(".bi-brightness-high");

            const posts_list = document.querySelector(".posts-list");

            function enableLightMode() {
                posts_list.classList.remove("dark")
            }

            function enableDarkMode() {
                posts_list.classList.add("dark")
            }
            lightModeIcon.parentElement.addEventListener("click", enableLightMode);
            darkModeIcon.parentElement.addEventListener("click", enableDarkMode);
        });
    </script>
{% endblock content %}