{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <div class="course-container" id="courseContainer">
        {% for course in courses %}
            <div class="course-card dark">
                <img src="{{ course.image.url }}" alt="">
                <h3>{{ course.title }}</h3>
                <p><b>{{ course.difficulity_level }}</b></p>
                <p>{{ course.summary }}</p>
                <!-- <button class="enroll-btn" onclick="enrollNow()">Ro'yhatdan o'tish</button> -->
            </div>
        {% endfor %}
    </div>
{% endblock content %}